{%extends 'firstapp/base.html'%}

<html lang="en">
{% load static%}
{%block title_block%}Index Page{%endblock%}

{%block body_block%}
<link rel="stylesheet" href="{%static 'styles/styles.css'%}">

<h2>Welcome</h2>
<h3>Here are the list of records:</h3>
<div class="container">
    <!-- {{testing|upper}} -->
    {{testing|cut:'world'|upper}}
    {%if records %}
    <table>
        <thead>
            <th>Site Name</th>
            <th>Date of Access</th>
        </thead>
        {%for rcd in records%}
        <tr>
            <td>{{rcd.name}}</td>
            <td>{{rcd.date}}</td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <h2>No records found</h2>
    {%endif%}
</div>
<a href="{%url 'form'%}">Form page</a>
{%endblock%}

</html>