<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>

<body>
    {%if users%}
    <div class="container">
        <h1>The Users info is as follows:</h1>

        <ol>
            {%for user in users%}
            <li>User Info:</li>
            <ul>
                <li>
                    First Name:{{user.fname}}
                </li>
                <li>
                    Last Name:{{user.lname}}
                </li>
                <li>
                    Email:{{user.email}}
                </li>
            </ul>
            <br>
            {%endfor%}
        </ol>
        {%endif%}
    </div>
</body>

</html>